@import '~bootstrap/scss/bootstrap';

header {


    img {
        width: 60px;
        vertical-align: middle;
    }



    li a {
        margin-left: 15px;
        text-transform: uppercase;
        padding: 30px 0;
        color: black;
        text-decoration: none;

        &.active,
        &:hover {
            color: rgb(1, 110, 219);
            border-bottom: 3px solid rgb(1, 110, 219);
        }
    }

}

main {



    .jumbotrone {
        height: 370px;
        background-image: url('../img/jumbotron.jpg');
        background-position: top;
        background-size: cover;

    }

    .comics {

        position: relative;

        .current-series {
            position: absolute;
            top: -13%;
            left: 0;
        }



    }

    .regular-card {
        margin: 10px;
        width: calc(100% / 6 - 20px);



        img {
            aspect-ratio: 1 / 1;
            max-width: 100%;

        }

        h6 {
            text-transform: uppercase;
            margin-top: 5px;
        }
    }

    .buy-comics {
        background-color: rgb(1, 110, 219);


        .images {
            height: 150px;
            padding: 30px;


        }

    }

    .container-details {
        max-width: 70%;
        margin: 0 auto;
    }

    .img-container {
        img {
            max-width: 100%;
        }
    }

    .form-container {
        background-color: rgb(255, 204, 0);
        border-radius: 30px;
        padding: 20px;

    }


}

footer {
    .top-footer {
        background-image: url('../img/footer-bg.jpg');
        height: 400px;

        .col {
            background-image: url('../img/dc-logo-bg.png');
            background-position: right;
            background-repeat: no-repeat;
            height: 400px;
        }
    }

    .bottom-footer {
        background-color: rgb(35, 35, 35);
        color: white;
        padding: 40px 0;

        .social-media {
            p {
                margin-bottom: 0;
                margin-right: 20px;
                color: rgb(1, 110, 219);
            }

            img {
                margin-left: 10px;
            }
        }


    }
}